<div class="stats-wrapper">
  <div class="banker">
    <div class="icon"></div>
    <div class="stats-title">BANKER</div>
    <div class="stats-score">{{STATS.BANKER}}</div>

  </div>
  <div class="player"></div>
  <div class="tie"></div>
  <div class="pair-banker"></div>
  <div class="pair-player"></div>
  <div class="natural"></div>
</div>