.hide {
  display: none;
}
.no-style {
  display: list-item;
  list-style-type: none;
}
ul {
  list-style: none;
}
.ndc-wrapper {
  font-size: 30px;
  text-align: center;
}
.ndc-font-hobeaux {
  font-family: hobeaux, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.ndc-font-hobeaux-rococeaux-sherman {
  font-family: hobeaux-rococeaux-sherman, sans-serif;
  font-style: normal;
  font-weight: 400;
}
.ndc-font-Filson-Pro-Bold {
  font-family: filson-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.ndc-font-Filson-Pro-Bold-I {
  font-family: filson-pro, sans-serif;
  font-weight: 700;
  font-style: italic;
}
.ndc-font-Filson-Pro-Regular {
  font-family: filson-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ndc-font-Filson-Pro-Regular-I {
  font-family: filson-pro, sans-serif;
  font-weight: 400;
  font-style: italic;
}
.ndc-font-Filson-Soft-Bold {
  font-family: filson-soft, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.ndc-font-Filson-Soft-Regular-I {
  font-family: filson-soft, sans-serif;
  font-weight: 400;
  font-style: italic;
}
.ndc-font-Filson-Soft-Bold-I {
  font-family: filson-soft, sans-serif;
  font-weight: 700;
  font-style: italic;
}
.ndc-font-Filson-Soft-Regular {
  font-family: filson-soft, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ndc-font.condor--Italic {
  font-family: condor, sans-serif;
  font-weight: 400;
  font-style: italic;
}
.ndc-font.condor--Regular {
  font-family: condor, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ndc-font.condor--Bold {
  font-family: condor, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.ndc-font.condor--Bold-Italic {
  font-family: condor, sans-serif;
  font-weight: 700;
  font-style: italic;
}
.ndc-font.condor-Comp-Regular {
  font-family: condor-compressed, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ndc-font.condor-Comp-Italic {
  font-family: condor-compressed, sans-serif;
  font-weight: 400;
  font-style: italic;
}
.ndc-font.condor-Comp-Bold {
  font-family: condor-compressed, sans-serif;
  font-weight: 700;
  font-style: italic;
}
.ndc-font.condor-Comp-Bold {
  font-family: condor-compressed, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.ndc-font.condor-Cond-Regular {
  font-family: condor-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ndc-font.condor-Cond-Italic {
  font-family: condor-condensed, sans-serif;
  font-weight: 400;
  font-style: italic;
}
.ndc-font.condor-Cond-Bold-Italic {
  font-family: condor-condensed, sans-serif;
  font-weight: 700;
  font-style: italic;
}
.ndc-font-condor-Cond-Bold {
  font-family: condor-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.ndc-font-condor-Extd-Regular {
  font-family: condor-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ndc-font-condor-Extd-Italic {
  font-family: condor-extended, sans-serif;
  font-weight: 400;
  font-style: italic;
}
.ndc-font-condor-Extd-Bold-Italic {
  font-family: condor-extended, sans-serif;
  font-weight: 700;
  font-style: italic;
}
.ndc-font-condor-Extd-Bold {
  font-family: condor-extended, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.ndc-font-condor-Wide-Regular {
  font-family: condor-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ndc-font-condor-Wide-Italic {
  font-family: condor-wide, sans-serif;
  font-weight: 400;
  font-style: italic;
}
.ndc-font-condor-Wide-Bold {
  font-family: condor-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.ndc-font-condor-Wide-Bold-Italic {
  font-family: condor-wide, sans-serif;
  font-weight: 700;
  font-style: italic;
}
.ndc-coquette-regular {
  font-family: coquette, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ndc-font-coquette-bold {
  font-family: coquette, sans-serif;
  font-weight: 700;
  font-style: normal;
}
