<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baccarat Scoreboard Admin Panel</title>
  </head>
  <body>
    <h1 class="admin-page-title">Admin Panel</h1>
    <div class="buttons">
      <button onclick="testBeadRoad()">Test Bead Road</button>
    </div>
    <script src="http://localhost:3000/static/functions/BeadRoad.js"></script>
    <script>
      function testBeadRoad() {
        let br = new BeadRoad();
        br.setCell("BANKER");
        br.setCell("PLAYER");
        br.setCell("TIE");
      }
    </script>
  </body>
</html>
