<script>
  console.log("view index.hbs");
</script>

<html lang="en">
  <head>
<link rel="stylesheet" href="https://localhost:3000/static/css/grid.css" />

    {{!-- {{> performance}} --}}
    {{> meta}}
    {{!-- {{> links}} --}}
    {{> scripts}}
  
  </head>
  <body>
    <div class="container">
  {{> header}}
  {{> road.bead}}
  {{> road.big}}
  {{> road.bigeyeboy}}
  {{> statistics}}
  {{> road.small}}
  {{> road.cockroach}}
  </div>
  </body>
</html>