<html lang="en">
  <head>
<script>
  
  console.log("using layout.hbs");
  console.log("head partials: meta, scripts, style.bootstrap, style.grid, style.roads");
  console.log("body partials: header, road.bead, statistics, road.big, road.bigeyeboy, road.small")
</script>

   {{> performance}} 
    {{> meta}}
    {{!-- {{> links}} --}}
    {{#if devscripts}}
    {{> scripts.localhost3000}}
    {{else}}
    {{> scripts}}
    {{/if}}
    {{> style.grid}}
    {{> style.buttons}}
    {{> style.roads}}
    
  </head>
  <body>
    <section class="grid-container">
    {{> header}}
    {{> road.bead}}
    {{> statistics}}
    
    {{> road.big}}
 
    {{> road.bigeyeboy}}
    {{> road.small}}
    {{> road.cockroach}}
    </section>
  
  </body>
</html>