<script>
  console.log("view index.hbs");
</script>

<html lang="en">
  <head>
    {{> performance}}
    {{> meta}}
    {{> links}}
  </head>
  <body>
    {{> header3 }}
    {{> codepen_beadroad}}
    {{> codepen_bigroad}}
    {{!-- {{> bead_road }} --}}
    {{> scripts}}
  </body>
</html>