<script>
  console.log("view index.hbs");
</script>

<html lang="en">
  <head>
    {{> meta}}
    {{> links}}
  </head>
  <body>
    {{> header3 }}
    {{> bead_road }}
    {{> scripts}}
  </body>
</html>