.bead-road-wrapper {
  width: 70vw;
  overflow-x: hidden;
}
.bead-road-wrapper:hover {
  border: 3px solid red;
}
.big-road-wrapper {
  width: 50vw;
}
.big-eye-boy {
  width: 50vw;
}
.small-road {
  width: 50vw;
}
.cockroach-pig {
  width: 50vw;
}
.boad-road-svg {
  display: inline;
  box-sizing: border-box;
  margin-left: 500px;
}
