<div class="button-group generate-buttons">
  <button class="generate-buttons generate-button">
    Generate
  </button>
  <button type="button" class="generate-buttons reset-button">
    Reset
  </button>
</div>