<div class="header-wrapper">
  <div class="row">
      <a href="" class="navbar-brand">
        Baccarat Road Analysis
      </a>

    {{> file_button_group}}
  </div>
  <div class="row">
    <div class="button-group scoring-buttons">
      <button role="button" class="scoring-buttons banker-button">
        Banker
      </button>
      <button role="button" class="scoring-buttons player-button">
        Player
      </button>
      <button role="button" class="scoring-buttons tie-button">
        Tie
      </button>
    </div>
    <div class="button-group edit-buttons">
      <button type="button" class="edit-buttons undo-button float-end">
        Undo
      </button>
      <button type="button" class="edit-buttons redo-button float-end">
        Redo
      </button>
    </div>
    <div class="button-group toggle-buttons">
      <button id="mouse" class="toggle-buttons mouse-button">
        Mouse
      </button>
      <button id="keys" class="toggle-buttons keys-button hide-button">
        Buttons
      </button>
    </div>
  </div>
</div>