<div class="header-wrapper">
  <div class="row">
      <a href="" class="navbar-brand">
        Baccarat Road Analysis
      </a>

    {{> button.filegroup}}
  </div>
    {{> button.scoring}}
    
  </div>
</div>