<div class="cockroach-road-wrapper">
  <div class="cockroach-road-title">
    Cockroach Road
  </div>
  <svg class="cockroach-road-svg" xmlns="http://www.w3.org/2000/svg">
    <rect
      class="cockroach-road-back-rect"
      width="100%"
      height="100%"
      fill="#000"
    ></rect>
  </svg>
</div>