<div class="bead-road-wrapper">
  <div class="bead-road-title">
    Bead Road
  </div>
  <svg class="bead-road-svg" xmlns="http://www.w3.org/2000/svg">
    <rect
      class="bead-road-back-rect"
      width="100%"
      height="100%"
      fill="#000"
    ></rect>
  </svg>
</div>