<div class="bigeye-road-wrapper">
  <div class="bigeye-road-title">
    Big Eye Boy Road
  </div>
  <svg class="bigeye-road-svg" xmlns="http://www.w3.org/2000/svg">
    <rect
      class="bigeye-road-back-rect"
      width="100%"
      height="100%"
      fill="#000"
    ></rect>
  </svg>
</div>