<div class="big-road-wrapper">
  <div class="big-road-title">
    Big Road
  </div>
  <svg class="big-road-svg" xmlns="http://www.w3.org/2000/svg">
    <rect
      class="big-road-back-rect"
      width="3610"
      height="370"
      fill="#000"
    ></rect>
  </svg>
</div>