<div class="statistics-wrapper">
  <div class="board-title">
    Statistics
  </div>
  <div class="banker stats-title">
    BANKER
  </div>
  <div class="banker stats-score">
    {{STATS.BANKER}}
  </div>
  <div class="player stats-title">
    PLAYER
  </div>
  <div class="player stats-score">
    {{STATS.PLAYER}}
  </div>
  <div class="tie stats-title">
    TIE
  </div>
  <div class="tie stats-score">
    {{STATS.TIE}}
  </div>
  <div class="rounds stats-title">
    TOTAL GAMES
  </div>
  <div class="rounds stats-score">
    {{STATS.ROUNDS}}
  </div>
</div>
<style>
  .banker,.player,.tie,.rounds{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 30px;
    border: 2px solid black;
    height: 50px;
    width: 100%;
    font-family: Comfortaa, cursive;
    
  }
</style>